.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ------------------------- VERTICAL NAV ------------------------- */
.vertical-nav ul{
  list-style-type: none;
  margin: 1%;
  padding: 0;
  width: 10%;
  background-color: #f1f1f1;
  position: fixed;
  height: 20%;
  overflow: auto;
  border-radius: 5px;
  box-shadow:0 0 4px rgba(0,0,0,0.5);
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  margin: 1%
}

li a:hover:not(.active) {
  background-color: #555;
  border-radius: 5px;
  color: white;
}


/* ------------------------- LANDING PAGE ------------------------- */

.sign-in-form {
  background-color: rgb(145, 151, 174);
  /* align-items: center; */
  padding: 3em;
  border-radius: 8px;
  margin: 20px;
}
.about {
  /* background-color: rgb(145, 151, 174); */
  /* align-items: center; */
  padding: 3em;
  border-radius: 8px;
  margin: 20px;
  height: 400px;
}

#login-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#signup-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ------------------------- PROJECTS ------------------------- */
/* .all-projects  {
  align-items: center;
  justify-content: center;
  margin: 10px;
  border: 2px solid;
  background-color: pink;
}

.project {
  background-color: pink;
} */

.project-materials-container {
  /* background-color: palevioletred;
  margin: 1% 0% 30% 0%; */
}

.testing-container {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  margin: 0% 12% 0% 12%;
}

.testing-card {
  /* background-color: rgb(213, 137, 54); */
  color: white;
  border: 1px solid;
  border-radius: 5px;
  display: flex; /* so child elements can use flexbox too */
  margin: 0px;
  padding: 1%;
  flex: 0 0 10%;
  /* flex-grow: 1;
  flex-basis: 16%; */
  align-items: center;
}

/* .project-info-container {
  background-color: gray;
} */

.project-info-card {
  background-color: pink;
  border: 3px solid;
  margin: 3% 14% 0% 14%; 
  
}

#project-info-container {
  margin: 1% 26%; 
}

/* ------------------------- DIVISIONS ------------------------- */

.main-division-container {
  margin: 0% 10% 25% 10%;
}

.divisions-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  margin: 5% 10% 5% 15%;
}

.division-card {
  background-color: rgb(213, 137, 54);
  color: white;
  border: 1px solid;
  border-radius: 5px;
  display: flex; /* so child elements can use flexbox too */
  margin: 3px;
  padding: 5%;
  flex: 0 0 20%;
  /* flex-grow: 1;
  flex-basis: 16%; */
  align-items: center;
}

/* ------------------------- MATERIALS ------------------------- */
.materials-container {
  margin: 1%;
}

/* ------------------------- POST FORMS ------------------------- */
#add-container {
  /* background-color: rgb(145, 151, 174); */
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  border: 2px solid;
  border-color:white;
  border-radius: 10px;
  margin: 1% 20%;
  padding: 35px;
  box-shadow:0 0 4px rgba(0,0,0,0.5);
}

#add-container form {
  /* display: flex;
  flex-direction: column;
  justify-self: center; */
  width: 50%;
  /* font-weight: bold; */
}

/* #add-container hr {
  border: 1px solid;
  width: 80%;
  margin: 0% 0% 3% 0%;
} */

#add-container label {
  /* background-color:rgb(145, 151, 174); */
  float: left;  
  color: black;
}

#add-container form input {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  height: 35px;
  border: 0px solid;
  box-shadow:0 0 4px rgba(0,0,0,0.2);
}
#add-container form select {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  height: 35px;
  border: 0px solid;
  box-shadow:0 0 4px rgba(0,0,0,0.2);
}

#add-container form input:focus {
  background-color: rgb(230, 205, 179);
  color: white;
}

#add-container form input[type="submit"] {
  background-color: rgb(145, 151, 174);
  border: none;
}

#add-container form input[type="submit"]:hover {
  background-color: rgb(189, 189, 189);
}


/* ------------------------- ROUTER NAV ------------------------- */
.container-router-nav {
  /* background-color: pink; */
  margin: 1% 10% 5% 15%;
  /* display: flex-row;
  align-items: center; */
}

.container-router-nav nav {
  /* background-color:red; */
  margin: 1%;
  display: flex;
  align-items: right;
  justify-content: flex-start;
}

.container-router-nav button {
  display: inline-block;
  padding: 0.5em 1.7em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgb(255, 255, 255);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  /* font-family: "Roboto", sans-serif; */
  font-weight: 300;
  color: black;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  transition: all 0.2s;
}

.container-router-nav button:hover {
  color: white;
  background-color: rgb(213, 137, 54);
}

.testing {
  color: palevioletred
}